<%- include("partials/header"); -%>

    <div class="post-header">
        <h1 name = "postTitleName"><%=post.title%> </h1>
        <form action="/delete" method="POST">
            <button type="submit" class="btn btn-danger" name="postId" value="<%=post._id%>">Delete</button>
        </form>
    </div>
    <p><%=post.content%> </p>

<%- include("partials/footer"); -%>